</head>
<body>
  <nav>
		<!-- <i class="fas fa-film fa-2x"></i> -->
    <a 
      href="/meals/new" class=<%= title === 'Add Meal' ? 'active' : '' %>
    >
      ADD MEAL
    </a>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>
    >
      ALL FLIGHTS
    </a>
  </nav>